<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
</head>
<body>
<form action="/logout" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">Logout</button>
</form>
<form action="/createPack" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    Package name <input type="text" th:field="${pack.name}"/>
    <button type="submit">Create package</button>
</form>
<div class="container">
    <div th:each="pack : ${packages}">
        <div th:text="${pack.name}"></div>
    </div>
</div>
</body>
</html>