<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function () {
            $("#editPackage").click(function () {
                window.location.href = "/edit";
             });
        });
    </script>
</head>
<body>
<form th:method = "PATCH" th:action = "@{/pack/{id}/edit (id = ${pack.id})}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="text" th:field="${pack.name}">
    <button type="submit" class="btn">Rename package</button>
</form>
</body>
</html>